@page "/Heros"

@inherits HeroBase


@if (HeroReturnedFromAPI==null)
{
    <p>lodaing Products ... </p>
}
else
{
    <h5> Add New Hero </h5>
    <a href="/AddHero" class="btn btn-custom" role="button">
        <i class="fas fa-user-plus"></i>
        Add Hero
    </a>
    <h4> Heros</h4>
    var herosCount = HeroReturnedFromAPI.Count();
    if(herosCount>0)
    {
       @*_______________________________________   this section return list of Heros -------------------------------------*@
         
       
       @* const int HerosPerRow = 4;
        var HeroList = new List<HeroDTO>();
        for(int i=0; i<herosCount;  i++ )
        {
            HeroList = HeroReturnedFromAPI.Skip(i * HerosPerRow).Take(HerosPerRow).ToList();*@


           @* -------------------------------- this section retourn list filtred by gender ----------------------------------------- *@
        @foreach (var item in GetGroupedHeroByGender())
        {
            
            <div class="row mt-3">
                @foreach (var hero in item)
                {
                    <div class="col-md-3 mb-2">
                        <a href="/HeroDetails/@hero.Id">
                            <div class="card">
                                <img class="rounded-1" src="@hero.photo">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        @hero.NameHero
                                    </h5>
                                    <p class="card-text">
                                        @($"{hero.Age} ans")<br>
                                        @hero.Description
                                    </p>
                                    <div class="card-buttons">
                                        <a href="/EditHero/@hero.Id" class="btn btn-custom-edit" role="button">
                                            Edit
                                        </a>
                                        <a href="/DeleteHero/@hero.Id" class="btn-custom-delete" role="button">
                                            Delete
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </a>
                    </div>
                }


            </div>
        }
        

        
    }
}


