.btn-custom-edit {
    background-color: #3a0647;
    color: #f6e6fb;
    
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    border: 1px solid #3a0647;
    border-color: #3a0647;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin-bottom: 20px;
}

    .btn-custom-edit:hover {
        background-color: #f6e6fb;
        color: #3a0647;
    }


